{% extends "layout.html" %}

{%block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table">
    <thead class="thead-light ">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">TOTAL</th>
        </tr>
    </thead>
    {% for item in data: %}
    <tr>
        <th>{{ item["stock_name"] }}</th>
        <th>{{ item["num_shares"] }}</th>
        <th>${{ prices[item["stock_name"]] }}</th>
        <th>${{ prices[item["stock_name"]] * item["num_shares"] }} </th>
    </tr>
    {% endfor %}

    <tr>
        <th>CASH</th>
        <th> - </th>
        <th> - </th>
        <th>${{ cash }}</th>
    </tr>
    <tr>
        <th>TOTAL</th>
        <th> - </th>
        <th> - </th>
        <th>${{ total_portfolio_value }}</th>
    </tr>
</table>
{% endblock %}